@font-face {
    font-family: BebasNeue-Regular;
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: CourierPrime-Bold;
    src: url(../assets/fonts/Courier_Prime/CourierPrime-Bold.ttf);
}

@font-face {
    font-family: OpenSans-VariableFont;
    src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}   

/* font-family: 'Bebas Neue', cursive;
font-family: 'Courier Prime', monospace;
font-family: 'Open Sans', sans-serif; */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* centraliza conteudos */
.layout-grid{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 3px solid green; */
}

/* cabeçalho */
header {
    height: 60px;
    background-color: red;
    border: 2px solid blue;
}

/* flexbox no cabeçalho */
header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    height: 22px;
    width: 591px;
    border: 2px solid black;
}

header nav a {
    font-family: 'BebasNeue-Regular';
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    /* letter-spacing: 2px; */
}

/* ao passar o mouse */
header nav a:hover {
    background-color: white;
    color: red;
}

#link-inicio {
    color: black;
}

/* main */

main .banner {
    width: 100%;
    height: 740px;
    background-color: #080324;
    color: white;

    background-image: url(../assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.desenvolvimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* DESENVOLVIMENTO DE SISTEMAS */
article .desenvolvimento h1 {
    color: white;
    font-family: 'BebasNeue-Regular';
    font-weight: normal;
    font-size: 96px;
    width: 545px;
    height: 230px;
    /* border: 5px solid peru; */

    display: flex;

}

/* SENAI INFORMATICA */
article .desenvolvimento h2 {
    color: #F9003D;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 53px;
    /* border: 5px solid palegreen; */

    margin-top: 29px;
}

#linha {
    width: 545px;
    height: 1px;
    margin-top: 16px;
    background-color: #FFAF00;
}

#mouse {
    width: 80px;
    height: 80px;
    margin-top: 29px;
}


/* main part sobre */
.sobre {
    height: 800px;
    background-color: #080324;
    
}

.sobrediv {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 5px solid purple; 
}

.sobresection {
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    width: fit-content;

}

.projetos{
    color: #F9003D;
    font-family: 'BebasNeue-Regular';
    font-size: 64px;
    font-weight: normal;

    display: flex;
    align-self: flex-start;

    margin-bottom: 64px;

    border: 5px solid black; 
}

.alunos {
    color: #FFAF00;
    font-family: 'BebasNeue-Regular';
    font-size: 64px;
    font-weight: normal;
    width: 557px;

    display: flex;
}

.sobrediv h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;

    display: flex;

}

.sobrediv p {
    color: white;
    font-family: 'OpenSans-VariableFont';
    font-weight: normal;
    font-size: 18px;
    border: 2px solid blue;

    width: 592px;


}

#imagemsobre {
    width: 491px;
    height: 476px;
    border: 2px solid blue;

    display: flex;
    justify-self: center;


}