@font-face {
    font-family: BebasNeue-Regular;
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: CourierPrime-Bold;
    src: url(../assets/fonts/Courier_Prime/CourierPrime-Bold.ttf);
}

@font-face {
    font-family: OpenSans-VariableFont;
    src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}   

/* font-family: 'Bebas Neue', cursive;
font-family: 'Courier Prime', monospace;
font-family: 'Open Sans', sans-serif; */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* centraliza conteudos */
.layout-grid{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 3px solid green; */
}

/* cabeçalho */
header {
    height: 60px;
    background-color: red;
    border: 2px solid blue;
}

/* flexbox no cabeçalho */
header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    height: 22px;
    width: 591px;
    border: 2px solid black;
}

header nav a {
    font-family: 'BebasNeue-Regular';
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 18px;
    /* letter-spacing: 2px; */
}

/* ao passar o mouse */
header nav a:hover {
    background-color: white;
    color: red;
}

#link-inicio {
    color: black;
}

/* main */

main .banner {
    width: 100%;
    height: 740px;
    color: white;

    background-image: url(../assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

main .banner-flex {
    display: flex;
    align-items: center;
}

/* BANNER INFO */
main .banner #bannerinfo {
    width: 550px;
    border: 2px solid darkcyan;
}

/* BANNER INFO DESENVOLVIMENTO DE SISTEMAS */
article #bannerinfo h1 {
    color: white;
    font-family: 'BebasNeue-Regular';
    font-weight: normal;
    font-size: 96px;
    width: 545px;
    height: 230px;
    /* border: 5px solid peru; */

}

/* BANNER INFO SENAI INFORMATICA */
article #bannerinfo h2 {
    color: #F9003D;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 53px;
    /* border: 5px solid palegreen; */

    margin-top: 29px;
}

/* LINHA LARANJA */
#linha {
    width: 545px;
    height: 1px;
    margin-top: 16px;
    background-color: #FFAF00;
}

/* IMAGEM MOUSE */
#mouse {
    width: 80px;
    height: 80px;
    margin-top: 29px;
}


/* main part sobre */
.sobre {
    height: 800px;
    background-color: #080324;
    
}

.sobre-flex {
    display: flex;
    justify-content: center;

    border: 2px solid plum;
}

/* BOX SOBRE INTEIRO */
/* #sobrediv {
    width: fit-content;
    height: fit-content;
    border: 2px solid purple; 
} */

#sobrediv-imagem {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 2px solid gray;

}

/* BOX PROJETOS ALUNOS PARTICIPANTES */
#sobresection {
    display: flex;
    flex-direction: column;

    
    width: fit-content;
    border: 5px solid yellow; 

}

/* TITULO PROJETOS */
.projetos{
    color: #F9003D;
    font-family: 'BebasNeue-Regular';
    font-size: 64px;
    font-weight: normal;

    display: flex;
    align-self: flex-start;

    border: 5px solid black; 
}

/* TITULO ALUNOS */
.alunos {
    color: #FFAF00;
    font-family: 'BebasNeue-Regular';
    font-size: 64px;
    font-weight: normal;
    width: 557px;

    display: flex;
}

/* PARTICIPANTES */
#sobresection h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;

    display: flex;

}

#sobresection p {
    color: white;
    font-family: 'OpenSans-VariableFont';
    font-weight: normal;
    font-size: 18px;
    border: 2px solid blue;

    width: 592px;


}


/* INFO */
main .info {
    width: 100%;
    height: 200px;

    /* background-image: url(../assets/images/imagem-fundo-info.png); */
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border: 3px solid seagreen;
}

.infosection {
    display: flex;
    justify-content: space-around;
}

div .infosection h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.local {
    width: 289px;
    height: 100px;
    border: 2px solid #A259F7;

}

.duracao {
    width: 289px;
    height: 100px;
    border: 2px solid #A259F7;

}

.desafios {
    width: 289px;
    height: 100px;
    border: 2px solid #A259F7;

}